.pagination-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
    align-content: center;
    align-items: center;
  }

.numbers-container{
    justify-content: center;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
   /*  border: 1px solid rgba(255, 255, 255, 0.719); */
   border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
    cursor: pointer;
}
.numbers-container:hover{
    background-color: #0a0b0b;
}
.numbers-container:active {
    background-color: #0a0b0b;
}
.numbers{
    background-color: #0a0b0b00;
    border:none;
    color: white;
    cursor: pointer;
}


