.search-container{
   /*  display: flex;
    flex-direction: column;
    justify-content: center;
    position: center;
    padding:  1.5rem 1.5rem 1.5rem 0rem;
   /*  height: 100px; 
    align-content: center;
    align-items: center; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: center;
   /*  height: 100px; */
    align-content: center;
    align-items: center;


}

 .search-form{
    display:flex;
    justify-content: center;
    text-align: center;
    color: rgb(224, 223, 223);
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.719);
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    transition: 0.3s;
}

#country{
  justify-content: center;
  color: white;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.719);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
  transition: 0.3s;
}

#country::placeholder{
  color: white;
}


.btn-search {
  background-color: rgba(245, 245, 245, 0.082);
  backdrop-filter: blur(5px);
  border-radius: 10%;
  padding: 5px 10px;

  border-color: 1px solid #242424;
  color:white;
  cursor: pointer;
  transition: 0.3s;
  }
  .btn-search:hover {
    transition-delay: 0s;
    color: rgba(255, 255, 255, 0.753);
     box-shadow: 0 0 3px rgb(214, 214, 212),
                0 0 5px rgb(214, 214, 212),
                0 0 5px rgb(214, 214, 212),
                0 0 5px rgb(214, 214, 212),
                0 0 5px rgb(214, 214, 212);
                transform: translateY(2px); 
  }
  .btn-search:hover:after {
    opacity: 1;
  }
  
  




  /*PRUEBA*/


  /* .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  } */